---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style>
	a {
		@apply relative inline-flex items-center text-gray-400 hover:text-white transition-colors duration-200 text-sm px-3 py-1;
	}

	a::after {
		@apply content-[''] absolute left-3 right-3 -bottom-[1px] h-[1px] bg-gradient-to-r from-primary-500/50 to-blue-500/50 opacity-0 transition-opacity duration-200;
	}

	a:hover::after {
		@apply opacity-100;
	}

	a.active {
		@apply text-white;
	}

	a.active::after {
		@apply opacity-100 from-primary-500 to-blue-500;
	}
</style>
